{% extends 'layout.html.twig' %}

{% block content %}

	<div class="col-xs-12 col-sm-8">
		<h3>Hva er rekrutteringsmodulen?</h3>
		<p class="lead">Her samler vi verktøy du kan bruke for å rekruttere deltakere når du møter ungdom lokalt.</p>
	</div>
	<div class="clearfix"></div>
	<div class="col-xs-12 col-sm-4">
		<div class="well">
			<div class="col-xs-2">
				<img class="" src="http://ico.ukm.no/mobile-64.png">
			</div>
			<div class="col-xs-10">
				<h2>UKM Husk</h2>
			</div>
			<div class="clearfix"></div>
			<p class="lead">Skal du ut og møte mulige deltakere?</p>
			<p>Verktøyet UKM Husk lar deltakere legge inn mobilnummeret sitt, og få en SMS når påmeldingen har åpnet.</p>
			{% if monstring.erFellesMonstring() %}
				{# UANSETT KOMMUNE OM DET ER FELLESMØNSTRING #}
				<p><span class="lead">Gå til UKM Husk</span><br>
					Velg hvilken kommune du vil rekruttere for:</p>
					{% for kommune in monstring.getKommuner() %}
						<a href="http://husk.ukm.no/f-{{ kommune.getFylke().getId() }}/k-{{ kommune.getId() }}" class="lead">{{ kommune.getNavn() }}</a><br>
					{% endfor %}
			{% elseif monstring.getType() == 'kommune' %}
				{# SINGELMØNSTRING LOKALT #}
				<p><span class="lead"><a href="http://husk.ukm.no/f-{{ monstring.getKommuner().first().getFylke().getId() }}/k-{{ monstring.getKommune().getId() }}">Gå til UKM Husk for {{ monstring.getKommune().getNavn() }}</a></p>
			{% elseif monstring.getType() == 'fylke' %}
				<p><span class="lead"><a href="http://husk.ukm.no/f-{{ monstring.getFylke().getId() }}/k-0/">Gå til UKM Husk for {{ monstring.getFylke().getNavn() }}</a></span><br>
			{% else %}
				<p><span class="lead"><a href="http://husk.ukm.no">Gå til UKM Husk uten å velge tilhørighet</a></span><br>
			{% endif %}
			<small>eller</small><br>
			<a href="#">hent mobilnummer i Rapporter</a></p>
		</div>
	</div>
{% endblock %}